.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.footer-line {
    border-top: 2px solid #81d8d0;
    width: 100%;
}

.footer-line-second {
    border-top: 5px solid #81d8d0;
    width: 100%;
    margin-top: 3px;
}

.trademark-container {
    display: flex;
    align-self: center;
    color: black;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 20px;
}

.icon {
    height: 40px;
    margin: 0 20px;
}