@font-face {
  font-family: "Sterling Display";
  src: url("./assets/fonts/SterlingDisplay\ Roman.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sterling Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
